<div class="container">
  <h1 class="text-center mt-5">Menu</h1>
  <div class="text-center">
    <%= link_to "Building", buildings_path, class: "btn btn-primary" %>
    <%= link_to "Person", persons_path, class: "btn btn-primary" %>
  </div>
</div>
